@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.header__image {
  background-image: linear-gradient(0deg, #0400ff, #4400ffcb),
    url(/img/header.png);
  background-size: 100%;
  padding: 4rem;
  background-size: cover;
  background-blend-mode: overlay;
}
.first__article {
  position: relative;
  bottom: 1rem;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

p,
li {
  color: rgb(138, 150, 160);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
}
h1,
h2,
h5 {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.li__before::before {
  color: rgb(255, 165, 0);
  content: "✓ ";
}
a {
  text-decoration: none !important;
  color: black !important;
  &:hover {
    color: orange !important;
  }
}
.orange__color {
  color: orange;
}
